@font-face {
    font-family: 'Ductile';
    src: url(../fonts/DuctileDisplay.otf) format('opentype');
}

@font-face {
    font-family: 'Disket';
    src: url(../fonts/Disket-Mono-Regular.ttf) format('truetype');
    font-weight: normal; /* normal */
    font-style: normal;
}

@font-face {
    font-family: 'Disket';
    src: url(../fonts/Disket-Mono-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@keyframes slide-in {
    from {
        transform: translateX(-25px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: var(--dark-color);
    border: 1.5px solid var(--border-color);
    border-top: none;
    border-bottom: none;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border: 1.5px solid var(--border-color);
    border-top: none;
    border-bottom: none;
}

.mode {
    margin-left: auto;
    display: flex;
    gap: 10px;
    align-items: center;
}


* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

:root {
    --main-color: #fffdfa;
    --dark-color: #18191c;
    --accent-color: #f54e0c;
    --text-color: #18191c;
    --border-color: #18191c;
    --padding: 10px;
    --text-font: 'Disket';
    --title-font: 'Ductile';
}

body {
    width: 100%;
    background-color: var(--main-color);
    margin: 0;
    font-family: var(--text-font);
    padding-top: 70px;
    color: var(--text-color);
}

::selection {
    background-color: var(--accent-color);
    color: var(--main-color);
}

h3 {
    font-family: var(--title-font);
}

body p {
    margin: 0;
    padding: 0;
} 

#home {
    display: flex;
    font-family: var(--title-font);
    flex-direction: column;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: start;
    width: 100%;
    align-items: center;
    padding: 10px;
    height: 70px;
    position: fixed;
    z-index: 1000;
    background-color: var(--main-color);
    border-bottom: var(--border-color) 1.5px solid;
    top: 0;
}

.name {
    font-size: 20px;
    color: var(--dark-color);
    font-family: var(--title-font);
    transition: all .1s ease-in-out;
    animation: slide-in 1s cubic-bezier(.23,1.19,.9,.98);
    border: 1.5px solid var(--border-color) !important;
    height: 44px !important;
    box-shadow: var(--dark-color) 2px 2px 0px 0px;
    background-color: var(--accent-color) !important;
}


.navbar a{
    text-decoration: none;;
    padding: 0;
    margin: 0;
    height: fit-content;
}

.navbar .nav-links {
    font-family: var(--text-font);
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1 !important;
    height: 50px !important;
}

i {
    margin: 0;
}

.navbar .nav-links li a {
    font-size: 22px;
    color: var(--dark-color);
    transition: all .1s ease-in-out;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1.5px solid var(--border-color);
    box-shadow: var(--dark-color) 2px 2px 0px 0px;
    animation: slide-in 1s cubic-bezier(.23,1.19,.9,.98);
}


.navbar .nav-links li a:hover {
    transform: translateY(-2px);
}

.navbar .nav-links li a:active {
    background-color: var(--accent-color);
    box-shadow: none;
}

.date-time {
    margin-left: 10px;
    font-size: 12px;
    color: var(--dark-color);
    font-family: var(--text-font);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.disabled {
    color: var(--dark-color);
    opacity: 0.5;
    cursor: default;
}

.disabled:hover {
    opacity: 0.5;
    cursor: default;
}

#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding);
}

#projects p {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 14px;
}

.projects {
    width: 100%;
    height: 100%;
}

.projects .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin-bottom: var(--padding);
    animation-name: slide-up;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(.23,1.19,.9,.98);
    animation-fill-mode: forwards;
    opacity: 0;

}

.projects .col,
.projects .col-2 {
    height: 50vh;
    display: flex;
    border: 1.5px solid var(--border-color);
    padding: var(--padding);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: flex-start;
    border-right: none;
    
}

.projects .col-2:last-child, .projects .col:last-child {
    border-right: var(--border-color) 1.5px solid;
}

.button {
    padding: 10px;
    font-size: 12px;
    border: 1.5px solid var(--border-color);
    width: fit-content;
    transition: all .1s ease-in-out;
    color: var(--dark-color);
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: var(--dark-color) 2px 2px 0px 0px;
    background-color: var(--main-color);
}

.button:active {
    box-shadow: none;
    background-color: var(--main-color);
}

.projects .col {
    width: 30%;
    
}

.projects .col.text {
    overflow-y: auto;
}

.projects .col-2 {
    width: 40%;
    background-color: var(--accent-color);
}

.projects .col .details{
    margin-top: auto !important;
    display: flex;
    justify-content: space-between;
}

.projects .col .title {
    font-weight: bold;
}


.footer {
    background-color: var(--dark-color);
    padding: var(--padding);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    height: 100%;
}

.footer a {
    text-decoration: none;
    color: var(--accent-color);
    transition: all .2s ease-in-out
}

footer a:hover {
    color: var(--main-color) !important;
}

.footer .nav-links {
    font-family: var(--text-font);
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: var(--padding);
    padding: 0;
}

.footer .nav-links li a {
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.footer .nav-links li a:hover {
    color: var(--main-color)
}

.footer p {
    color: var(--accent-color);
    font-size: 12px;
}


.footer .year {
    justify-content: space-between;
    display: flex;
    width: 100%; 
    padding: 0;
}

.page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: var(--title-font);
    margin-right: auto;
    font-size: 1rem;
}

.video-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 !important;
}

.bg-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (max-width: 1220px) {
    #projects p {
        font-size: 12px !important;
    }
}

@media (max-width: 960px) {
    .projects .col-2, .projects .col {
        width: 33% !important;
    }

    .page-title {
        font-size: 0.7rem !important;
    }
}

@media (max-width: 760px) {
    .projects .col-2 {
        visibility: hidden;
        width: 0 !important;
    }

    .page-title {
        visibility: hidden !important;
        margin:0 !important;
        width: 0 !important;
    }

    .projects .col {
        width: 50% !important;
    }
}

@media (max-width: 552px) {
    #projects p, .footer .nav-links li a, .footer p{
        font-size: 10px !important;
    }
    
}

